extends layout

block content
    div.box.container
        div.box.chat-container

            ul#chat-history
            form#login-form
                input#username-textbox(type="text", placeholder="Please enter name")
                input#join-button(type="submit",name="join", value="Join")
                p#join-error-message
            form#chat-input-form
                input#chat-input-textbox(type="text",class="input" placeholder="Your message")
                input#send-button(type="submit",name="send" value="Send" class="btn btn-success")
                input#upload-image-button(type="file", name="image",accept="image/*")
                label(for="upload-image-button") Upload image
            ul#users