doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Web Messenger
        script(src="https://cdn.socket.io/socket.io-1.3.3.js")
        script(src="https://code.jquery.com/jquery-2.1.3.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="https://cdn.rawgit.com/showdownjs/showdown/1.3.0/dist/showdown.min.js")
        script(src = "/javascripts/socket.js")


    body
        block content
