* {
    box-sizing: border-box;
}


body {
    background: #ccc;
    font-family: arial, san-serif;
    font-size: 1.2em;
    color: #666;
}

.box {
    width: 100%;
    border-radius: 3px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
}

.chat-container {
    background: #fff;
    padding: 15px;
    border: 1px solid #eee;
}

#chat-history {
    list-style: none;
    padding: 0 0 10px 0;
    overflow: auto;
    height: 400px;
}

.chat-message {
    background: #eee;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: left;
    clear: both;
}

.update-message {
    padding: 10px 15px;
    font-size:14px;
    color:#cccccc;
    float: left;
    clear: both;
}

.chat-message-self {
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: right;
    clear: both;
}
form{
    text-align: center;
}
#username-textbox{
    border-radius: 5px;
}
#chat-input-form {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #d5d5d5;
    width: 100%;
}

#chat-input-textbox {
    border-radius: 5px;
    width: 60%
}

#send-button,#join-button {
    border-radius: 5px;
    background: #fff;
    color: #444444;;
    padding:5px;
    margin:5px;
}


#upload-image-button{
   width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label[for="upload-image-button"]{
    border-radius: 5px;
    background: #fff;
    color: #444444;
    padding:7px;
    margin:5px;
    font-size:13px;
    box-shadow: 1px 1px 1px 1px grey;
}
img.chat-image {
    max-width: 200px;
    max-height: 200px;
}